
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.feedback {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.success {
	background-color: green;
}

.error {
	background-color: red;
}

.open-films {

	h1 {
		text-transform: uppercase;
	}

	.film-title {
		text-transform: capitalize;
		font-size: 1.5em;
	}
}